.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));  /* 상위 요소에서 설정*/
  gap: 10px;
  background-color: aliceblue;
  padding: 20px;
}

.grid-item {
  background-color: aquamarine;
  color: white;
  padding: 20px;
  text-align: center;
}